Repository maheshpathu/voting-application: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-2.yml, azure-pipelines-voting.yml

azure-pipelines-2.yml:
  pool:
    name: azureagent
  stages:
  - stage: Build
    displayName: Build
    jobs:
    - job: Build
      displayName: Build
      steps:
      - task: Docker@2
        displayName: Build and push an image to container registry
        inputs:
          containerRegistry: maheshazure
  ...

azure-pipelines-voting.yml:
  pool:
    name: azureagent
  stages:
  - stage: Build
    displayName: Build
    jobs:
    - job: Build
      displayName: Build
      steps:
      - task: Docker@2
  - task: Docker@2
    inputs:
      containerRegistry: maheshazure
      repository: $(imageRepository)
      command: build
      Dockerfile: vote/Dockerfile
  ...

Updated Dockerfile
  worker/Dockerfile
Due: azure-pipelines-2.yml

Added k8manifestfile.sh
  update/k8manifestfile.sh
Due: none

Update azure-pipelines.yml for Azure Pipelines
  azure-pipelines.yml
Due: none

Updated k8manifestfile.sh
  update/k8manifestfile.sh
Due: none

Update Kubernetes manifest
  k8s-specifications/vote-deployment.yaml
  update/k8manifestfile.sh
Due: none

Update Kubernetes manifest
  k8s-specifications/vote-deployment.yaml
Due: none

Updated vote-deployment.yaml
  k8s-specifications/vote-deployment.yaml
Due: none

Updated app.pychange names
  vote/app.py
Due: azure-pipelines-voting.yml

Updated app.py
  vote/app.py
Due: azure-pipelines-voting.yml

Update azure-pipelines-1.yml for Azure Pipelines
  azure-pipelines-1.yml
Due: none

Path conditions:
  azure-pipelines-2.yml: any of: worker
  azure-pipelines-voting.yml: any of: vote
