Repository maheshpathu/voting-application: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-1.yml, azure-pipelines-2.yml, azure-pipelines-voting.yml, azure-pipelines.yml

azure-pipelines-1.yml:
  pool:
    name: azureagent
  stages:
  - stage: Build
    displayName: Build
    jobs:
    - job: Build
      displayName: Build
      steps:
      - task: Docker@2
        displayName: Build and push an image to container registry
        inputs:
          containerRegistry: $(dockerRegistryServiceConnection)
  ...

azure-pipelines-2.yml:
  pool:
    name: azureagent
  stages:
  - stage: Build
    displayName: Build
    jobs:
    - job: Build
      displayName: Build
      steps:
      - task: Docker@2
        displayName: Build and push an image to container registry
        inputs:
          containerRegistry: maheshazure
  ...

azure-pipelines-voting.yml:
  pool:
    name: azureagent
  stages:
  - stage: Build
    displayName: Build
    jobs:
    - job: Build
      displayName: Build
      steps:
      - task: Docker@2
  - task: Docker@2
    inputs:
      containerRegistry: maheshazure
      repository: $(imageRepository)
      command: build
      Dockerfile: vote/Dockerfile
  ...

azure-pipelines.yml:
  pool:
    name: azureagent
  stages:
  - stage: Build
    displayName: Build
    jobs:
    - job: Build
      displayName: Build
      steps:
      - task: Docker@2
        displayName: Build and push an image to container registry
        inputs:
          containerRegistry: $(dockerRegistryServiceConnection)
  ...

Update Kubernetes manifest
  k8s-specifications/vote-deployment.yaml
Due: none

Update azure-pipelines-1.yml for Azure Pipelines
  azure-pipelines-1.yml
Due: none

Update Kubernetes manifest
  k8s-specifications/result-deployment.yaml
Due: none

Updated result-deployment.yaml
  k8s-specifications/result-deployment.yaml
Due: none

Updated index.html
  result/views/index.html
Due: azure-pipelines-1.yml, azure-pipelines.yml

Updated app.py
  vote/app.py
Due: azure-pipelines-voting.yml

Update azure-pipelines.yml for Azure Pipelines
  azure-pipelines.yml
Due: none

Path conditions:
  azure-pipelines-1.yml: any of: result
  azure-pipelines-2.yml: any of: worker
  azure-pipelines-voting.yml: any of: vote
  azure-pipelines.yml: any of: result
